<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Permission for internet -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.SEND_SMS"
        tools:ignore="PermissionImpliesUnsupportedChromeOsHardware" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/skillbridge_icon"
        android:label="SkillBridge"
        android:supportsRtl="true"
        android:theme="@style/Base.Theme.SkillBridge"
        tools:targetApi="31">
        <activity
            android:name=".EditProfile"
            android:exported="false" />
        <activity
            android:name=".HelpUsActivity"
            android:exported="false"
            android:label="Help Us"
            android:theme="@style/Theme.SkillBridge" />
        <activity
            android:name=".AboutUsActivity"
            android:exported="false"
            android:label="About Us"
            android:theme="@style/Theme.SkillBridge" />
        <activity
            android:name=".ContactUsActivity"
            android:exported="false"
            android:label="Contact Us"
            android:theme="@style/Theme.SkillBridge" />
        <activity
            android:name=".HomeActivity"
            android:exported="false"
            android:label="SkillBridge"
            android:theme="@style/Theme.SkillBridge" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".RegistrationActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>